* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: #f5f6fa;
  color: #1c1c1c;
}

.hero {
  background: url('/Assets/Hero-bg.png') center center/cover no-repeat;
  padding: 40px 20px 100px;
  text-align: center;
  position: relative;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
  padding: 10px 20px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #4E47FF
}

.signup-btn {
  background-color: #5e5eff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  
  
}

.signup-btn:hover{
   background-color: #4a4ae5;
 
}

.hero-content {
  margin-top: 60px;
  
}

.hero-content h1 {
  font-size: 2.2rem;
  font-weight: 700;
  color: #111;
  margin-bottom: 30px;
}

.hero-content h1 span {
  color: #5e5eff;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.primary-btn {
  background-color: #5e5eff;
  color: white;
  padding: 12px 24px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 8px;
  
}

.primary-btn:hover {
  background-color: #4a4ae5;
}
/* action section */
.action{
    display: flex;
    justify-content: space-between;
    margin-top: 61px;
    margin-left: 151px;
    margin-right: 149px;
    align-items: center;
 }
div h1{
    font-size: 42px;
    font-weight: bold;
    gap: 10px;
}
div p{
    font-size: 24px;
    color: #cccbd4;
    margin-top: 23px;
}
div button{
    width: 229px;
    height: 48px;
    border-radius: 10px;
    padding: 12px;
    margin-top: 23px;
    background-color: #5e5eff;
    color: #cccbd4;
    font-size: 16px;
    font-weight: bold;
    border: none;
}
div button:hover{
    background-color: #4a4ae5;
    cursor: pointer;
}
.t{
    width: 517px;
    height: 180px;
}
div img{
     width: 377px;
     height: 306px;
     border-radius: 48px;
}